/* Tarjeta */
.card {
  background-color: #ffeef2;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden; /* evita que se deforme */
}

/* Imagen principal */
.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* Contenido oculto por defecto */
.contenido-extra {
  max-height: 0;          /* Oculto */
  overflow: hidden;       /* Nada sale del contenedor */
  transition: max-height 0.5s ease; /* Animación */
}

/* Cuando se expanda */
.contenido-extra.mostrar {
  max-height: 500px; /* límite grande, suficiente para tu texto */
}

/* Botón */
.btn-ver {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ffc8dd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-ver:hover {
  background-color: #ff9ebb;
}

